body {
  background-color: linen; /* an almost white color */
}

* {
  color:rgb(43, 17, 1);
}

h1,
h2 {
  color:rgb(88, 68, 43);
}

h3 {
  color:rgb(100, 80, 55);
}

.menu {
  font-size: 0.6cm;
  background-color: rgba(53, 52, 38, 0.875);
}

#tit {
  font-size: 2vw;
  color:rgb(141, 115, 82);
  text-decoration-line: underline hsl(76, 14%, 15%);
  text-align: left;
}

#titimg {
  width: 150px;
}

#noteimg {
  width: 10em;
}

.record {
  border-width: 1mm;
  border-style: dotted;
  border-color: #62671f;
  border-radius: 5%;
  background-color: burlywood;
}

a[href^="#"] {
  color:cadetblue;
}

a:hover {
  color: rgba(53, 52, 38, 0.875);
  background-color: cadetblue;
}

li > i {
  color:rgb(108, 53, 64);
}

section p {
  color: rgb(35, 51, 7);
}

hr + nav {
  font-size: small;
}

h4 ~ ol {
  background-color: rgb(255, 251, 240);
}